<!-- Module Content Inner -->
<div class="dt-module__content-inner">
  <app-contact-list-header></app-contact-list-header>

  <!-- Module List -->
  <div class="dt-module__list">

    <div *ngIf="contacts.length == 0" class="dt-module__list-item">
      <p class="empty-result">No record found.</p>
    </div>

    <!-- Module Item -->
    <app-contact-list-item *ngFor="let contact of contacts | filter: searchQuery"
                           [contact]="contact"></app-contact-list-item>
    <!-- /Module Item -->

  </div>
  <!-- /Module List -->
</div>
