<!-- User Detail  -->
<div *ngIf="profile" class="dt-avatar-wrapper mb-8 d-none d-md-flex">
  <div class="dt-avatar-status">
    <gx-avatar [user]="profile"></gx-avatar>
    <div class="dot-shape bg-success dot-shape-lg"></div>
  </div>
  <span class="dt-avatar-info">
    <a href="javascript:void(0)" class="dt-avatar-name">{{profile.name}}</a>
    <span class="f-12 d-inline-block">online</span>
  </span>

  <!-- Dropdown -->
  <div class="ml-auto align-self-start mt-1" ngbDropdown placement="bottom-right">
    <a class="no-arrow" href="javascript:void(0)" ngbDropdownToggle>
      <gx-icon name="vertical-more"></gx-icon>
    </a>

    <div ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)">
        <gx-icon name="editors" [fw]="true"></gx-icon>
        Edit
      </a>
      <a class="dropdown-item" href="javascript:void(0)">
        <gx-icon name="contacts" [fw]="true"></gx-icon>
        Contact List</a>
      <a class="dropdown-item" href="javascript:void(0)">
        <gx-icon name="heart" [fw]="true"></gx-icon>
        Favourite List
      </a>
    </div>
  </div>
  <!-- /dropdown -->
</div>
<!-- User Detail  -->

<!-- App Quick Menu -->
<div class="quick-menu-list">
  <a *ngIf="hiddenPageHeader"
     href="javascript:void(0)"
     class="quick-menu mr-auto d-md-none"
     [ngClass]="{'active':settings.activeNavDrawer}"
     (click)="toggleNavigation($event)">
    <gx-icon name="menu"></gx-icon>
  </a>

  <!-- Search Box -->
  <form class="search-box d-md-none" *ngIf="!hiddenPageHeader">
    <input class="form-control" type="search" id="address" name="address" placeholder="Search in app...">
    <button type="submit" class="search-icon">
      <gx-icon name="search" size="lg"></gx-icon>
    </button>
  </form>
  <!-- /search box -->

  <a href="javascript:void(0)"
     class="quick-menu"
     [ngClass]="{'active':activeMenu == 'search', 'd-none d-md-block': !hiddenPageHeader}"
     (click)="onClickMenu($event, 'search')">
    <gx-icon name="search"></gx-icon>
  </a>

  <a href="javascript:void(0)"
     class="quick-menu"
     [ngClass]="{'active':activeMenu == 'notifications'}"
     (click)="onClickMenu($event, 'notifications')">
    <gx-icon name="notification2"></gx-icon>
  </a>

  <!-- Dropdown -->
  <div class="quick-menu" ngbDropdown placement="bottom-right">

    <!-- Dropdown Button -->
    <a href="javascript:void(0)" class="no-arrow" ngbDropdownToggle>
      <gx-icon name="circle-add-o"></gx-icon>
    </a>
    <!-- /dropdown button -->

    <!-- Dropdown Menu -->
    <div ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)">Add New Group</a>
      <a class="dropdown-item" href="javascript:void(0)">Add New Chat</a>
      <a class="dropdown-item" href="javascript:void(0)">Add New Contact</a>
    </div>
    <!-- /dropdown menu -->

  </div>
  <!-- /dropdown -->

  <div class="quick-menu d-md-none" ngbDropdown placement="bottom-right">
    <a class="no-arrow" href="javascript:void(0)" ngbDropdownToggle>
      <gx-avatar [user]="profile" class="size-25"></gx-avatar>
    </a>

    <div ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)">
        <gx-icon name="editors" [fw]="true"></gx-icon>
        Edit
      </a>
      <a class="dropdown-item" href="javascript:void(0)">
        <gx-icon name="contacts" [fw]="true"></gx-icon>
        Contact List</a>
      <a class="dropdown-item" href="javascript:void(0)">
        <gx-icon name="heart" [fw]="true"></gx-icon>
        Favourite List
      </a>
    </div>
  </div>

  <a href="javascript:void(0)"
     class="quick-menu d-md-none"
     [ngClass]="{'active':isOpen}"
     (click)="toggleOpen($event)">
    <gx-icon name="{{hiddenPageHeader? 'vertical-more': 'menu'}}"></gx-icon>
  </a>
</div>
<!-- /app quick menu -->
