<!-- Card Header -->
<card-header class="pt-6 px-6 mb-4">
  <!-- Card Heading -->
  <card-heading>
    <h3 class="dt-card__title text-white">Your Current Plan</h3>
  </card-heading>
  <!-- /card heading -->
</card-header>
<!-- /card header -->

<card-body class="px-6">
  <!-- Grid -->
  <div class="row no-gutters">
    <!-- Grid Item -->
    <div class="col-6 pr-2 border-right">
      <div class="display-1 font-weight-500 mb-3">
        $19<span class="d-inline-block f-14">/month</span>
      </div>

      <ul class="pl-4 mb-0 dt-list-square">
        <li>Max listing items 2K</li>
        <li>Max agents - 10</li>
      </ul>
    </div>
    <!-- /grid item -->
    <!-- Grid Item -->
    <div class="col-6 text-center">
      <p>Expires in 80 days</p>
      <div class="mb-3">
        <a href="javascript:void(0)"
           class="btn btn-secondary btn-xs text-uppercase">Renew Plan</a>
      </div>
      <a href="javascript:void(0)" class="text-white">Other Plans</a>
    </div>
    <!-- /grid item -->
  </div>
  <!-- /grid -->
</card-body>
