<div class="bg-overlay__inner">
    <card-header class="mb-6">
        <!-- Card Heading -->
        <card-heading>
            <h3 class="dt-card__title text-white">Social Media</h3>
        </card-heading>
        <!-- /card heading -->
    </card-header>

    <card-body>
        <!-- Project Title -->
        <div class="mb-4 display-6 text-uppercase">Digital Media Marketing Online Webinar</div>
        <!-- /project title -->

        <!-- Meta Date -->
        <div class="meta-date text-light-gray f-12 mb-4">27th Aug, 09:30 PM EST</div>
        <!-- Meta Date -->

        <p class="mb-6">Learn from experts. This webinar explains right...</p>

        <!-- Link -->
        <p class="mb-5">
            <a href="javascript:void(0)" class="f-16 d-inline-block text-white">Are you ready to join?</a>
        </p>
        <!-- /link -->

        <!-- Button Group -->
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup [(ngModel)]="option">
            <label class="btn btn-default" ngbButtonLabel><input type="radio" value="yes" ngbButton>Yes</label>
            <label class="btn btn-default" ngbButtonLabel><input type="radio" value="maybe" ngbButton>Maybe</label>
            <label class="btn btn-default" ngbButtonLabel><input type="radio" value="no" ngbButton>No</label>
        </div>
        <!-- /button group -->

    </card-body>
</div>



