<div class="bg-overlay__inner">
  <card-header>
    <!-- Card Heading -->
    <card-heading>
      <h3 class="dt-card__title text-white">Platinum</h3>
    </card-heading>
    <!-- /card heading -->

    <!-- Card Tools -->
    <card-tool>
      <span class="dt-card__more font-weight-500">$20/month</span>
    </card-tool>
    <!-- /card tools -->
  </card-header>

  <card-body>
    <div class="media mb-5">
      <!-- Icon -->
      <gx-icon name="list-group" size="7x" class="mr-7"></gx-icon>
      <!-- /icon -->

      <!-- Media Body -->
      <div class="media-body">
        <div class="d-block display-2 font-weight-600 mb-1">
          40
          <sup>
            <small class="font-weight-600">Gb</small>
          </sup>
        </div>
        <p class="card-text font-weight-500">24X7 online dedicated server</p>
      </div>
      <!-- /media body -->
    </div>

    <p class="card-text">Now kickstart with your next design. Subscribe today and save $20/month</p>

    <!-- Button -->
    <a href="javascript:void(0)" class="btn btn-warning text-white">Subscribe</a>
    <!-- /button -->

  </card-body>
</div>
