<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">TrustPrime - Key KPIs & Indexes</h1>
</div>
<!-- /page header -->

<!-- Entry Header -->
<div class="dt-entry__header">

  <!-- Entry Heading -->
  <div class="dt-entry__heading">
    <h3 class="dt-entry__title">Malaysia Today :)</h3>
  </div>
  <!-- /entry heading -->

</div>
<!-- /entry header -->

<!-- <div class="row"> -->

<!-- Grid Item -->
<div class="row">

  <div class="col-xl-3 col-sm-6" *ngFor="let item of analyticsCards">

    <!-- Card -->
    <gx-analytic-card gxCard [title]="item.title" [description]="item.description" [icon]="item.icon"
      [number]="item.number" [percent]="item.percent" [positiveGrowth]="item.positiveGrowth"></gx-analytic-card>
    <!-- /card -->

  </div>
</div>




<!-- Entry Header -->
<div class="dt-entry__header">

  <!-- Entry Heading -->
  <div class="dt-entry__heading">
    <h3 class="dt-entry__title">Smart Security</h3>
  </div>
  <!-- /entry heading -->

</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row mb-sm-8">

  <!-- Grid Item -->
  <div class="col-md-3 col-6">

    <gx-status-card [badge]="widgets.revenue.badge" [icon]="widgets.revenue.icon" [items]="widgets.revenue.items">
    </gx-status-card>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-md-3 col-6">

    <gx-status-card [badge]="widgets.order.badge" [icon]="widgets.order.icon" [items]="widgets.order.items">
    </gx-status-card>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-md-6 col-12">

    <gx-status-card [badge]="widgets.invoices.badge" [icon]="widgets.invoices.icon" [items]="widgets.invoices.items">
    </gx-status-card>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-md-6" *ngFor="let reportCard of widgets.reportCards">

    <gx-report-card gxCard fullHeight [title]="reportCard.title" [data]="reportCard.cardData"
      [chart]="reportCard.chart"></gx-report-card>

  </div>
  <!-- /grid item -->


  <!-- Entry Header -->
  <div class="dt-entry__header">

    <!-- Entry Heading -->
    <div class="dt-entry__heading">
      <h3 class="dt-entry__title">Smart Tourism Analysis</h3>
    </div>
    <!-- /entry heading -->

  </div>
  <!-- /entry header -->

  <!-- Grid Item -->
  <div class="col-12">

    <widget-overview gxCard [map]="widgets.overview.map" [statusReports]="widgets.overview.statusReports"
      [stats]="widgets.overview.stats"></widget-overview>

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->

<!-- Entry Header -->
<div class="dt-entry__header">

  <!-- Entry Heading -->
  <div class="dt-entry__heading">
    <h3 class="dt-entry__title">City Help Desk</h3>
  </div>
  <!-- /entry heading -->

</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row mb-sm-8">

  <!-- Grid Item -->
  <div class="col-xl-6 col-md-8 order-xl-1 order-md-1">

    <widget-recent-tickets gxCard fullHeight class="pb-4" [tickets]="widgets.recentTickets"></widget-recent-tickets>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-6 col-md-8 order-xl-4 order-md-3">

    <gx-operator-card gxCard fullHeight cardTitle="Citizen Hero - current month" [operator]="widgets.operator">
    </gx-operator-card>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-3 col-md-4 col-sm-6 order-xl-2 order-md-2">

    <gx-card fullHeight body-class="d-flex justify-content-center align-items-center"
      [card-title]="widgets.ticketsStatus.title">

      <!-- Chart -->
      <gx-chart [chartType]="widgets.ticketsStatus.chart.chartType" [options]="widgets.ticketsStatus.chart.options"
        [labels]="widgets.ticketsStatus.chart.labels" [colors]="widgets.ticketsStatus.chart.colors"
        [datasets]="widgets.ticketsStatus.chart.datasets"></gx-chart>
      <!-- /chart -->

    </gx-card>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-3 col-md-4 col-sm-6 order-xl-3 order-md-4">

    <gx-card fullHeight card-title="Tickets by department">

      <ul class="dt-indicator">
        <li class="dt-indicator-item" *ngFor="let row of widgets.departments">
          <p class="dt-indicator-title">{{row.name}}</p>

          <gx-status-bar [fillVal]="row.progressBar.fillVal" [maxVal]="row.progressBar.maxVal"
            [textColor]="row.progressBar.textColor" [barPosition]="row.progressBar.barPosition"
            [barColor]="row.progressBar.barColor"></gx-status-bar>

        </li>
      </ul>

    </gx-card>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-6 order-md-5">

    <app-section-tickets bsCard [ticketStatus]="widgets.ticketStatus" [tickets]="widgets.tickets">
    </app-section-tickets>

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->

<!-- Entry Header -->
<div class="dt-entry__header">

  <!-- Entry Heading -->
  <div class="dt-entry__heading">
    <h3 class="dt-entry__title">Citizen Happiness Analysis</h3>
  </div>
  <!-- /entry heading -->

</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row mb-sm-8">

  <!-- Grid Item -->
  <div class="col-12">

    <app-section-leads gxCard [cardTitle]="widgets.leads.title" [data]="widgets.leads.data"
      [countries]="widgets.leads.countries" [monthlyLead]="widgets.leads.monthlyLead"></app-section-leads>

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <!-- <div class="col-md-6">

    <app-section-campaigns-results gxCard fullHeight [campaigns]="widgets.campaigns"></app-section-campaigns-results>

  </div> -->
  <!-- /grid item -->

  <!-- Grid Item -->
  <!-- <div class="col-md-6">

    <app-section-social-media-advertising gxCard fullHeight [socialMedia]="widgets.socialMedia">
    </app-section-social-media-advertising>

  </div> -->
  <!-- /grid item -->

</div>
<!-- /grid -->

<!-- Entry Header -->
<div class="dt-entry__header">

  <!-- Entry Heading -->
  <div class="dt-entry__heading">
    <h3 class="dt-entry__title">Smart Governance &amp; Projects</h3>
  </div>
  <!-- /entry heading -->

</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row">

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Grid -->
    <div class="row">
      <!-- Grid Item -->
      <div class="col-xl-12">

        <gx-tasks-report gxCard [tasks]="widgets.tasksReport"></gx-tasks-report>

      </div>
      <!-- /grid item -->

      <!-- Grid Item -->
      <div class="col-xl-12">

        <gx-my-tasks [tasks]="tasks"></gx-my-tasks>

      </div>
      <!-- /grid item -->
    </div>
    <!-- /grid -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <app-section-projects gxCard [projects]="widgets.projects"></app-section-projects>

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->