<!-- Card Body -->
<card-body>
  <!-- Media -->
  <bs-media-object class="mb-7"
                   [img]="mediaImg"
                   body-class="align-self-center">

    <div class="h2 mb-1">Flying bird</div>
    <span class="d-block text-light-gray">Bob Bush</span>
  </bs-media-object>
  <!-- /media -->

  <!-- Card text -->
  <p class="card-text mb-10">
    Some description about the card. This widget
    could be used to describe a project, a product,
    user’s profile or may be more.
  </p>
  <!-- /card text -->

  <!-- Button -->
  <a href="javascript:void(0)" class="btn btn-primary">Go to detail</a>
  <!-- /button -->
</card-body>
<!-- /card body -->
