<!-- Card Header -->
<card-header class="mb-4" card-title="Order History">

  <!-- Card Tools -->
  <card-tool><a href="javascript:void(0)" class="dt-card__more">Detailed History</a></card-tool>
  <!-- /card tools -->

</card-header>
<!-- /card header -->

<!-- Card Body -->
<card-body class="pb-5">

  <!-- Tables -->
  <div class="table-responsive ps-custom-scrollbar">
    <table class="table table-ordered table-bordered-0 mb-0">
      <thead>
      <tr>
        <th class="text-uppercase">Currency</th>
        <th class="text-uppercase text-right" scope="col">Rate (USD)
        </th>
        <th class="text-uppercase text-center" scope="col">Date</th>
        <th class="text-uppercase text-right" scope="col">Fee</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>0.24 BTC</td>
        <td class="text-right text-nowrap">1 BTC = $740</td>
        <td class="text-center">08.10.17</td>
        <td class="text-right text-danger">-$2.33</td>
      </tr>
      <tr>
        <td>0.32 RPL</td>
        <td class="text-right text-nowrap">1 RPL = $80.2</td>
        <td class="text-center">08.03.17</td>
        <td class="text-right text-danger">-$1.23</td>
      </tr>
      <tr>
        <td>0.24 BTC</td>
        <td class="text-right text-nowrap">1 BTC = $740</td>
        <td class="text-center">07.29.17</td>
        <td class="text-right text-danger">-$3.22</td>
      </tr>
      <tr>
        <td>0.22 BTC</td>
        <td class="text-right text-nowrap">1 BTC = $740</td>
        <td class="text-center">07.28.17</td>
        <td class="text-right text-danger">-$3.22</td>
      </tr>
      <tr>
        <td>0.74 LTE</td>
        <td class="text-right text-nowrap">1 LTE = $99.9</td>
        <td class="text-center">05.22.17</td>
        <td class="text-right text-danger">-$2.21</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /tables -->

</card-body>
<!-- /card body -->
