<!-- Grid -->
<div class="row no-gutters">

  <!-- Grid Item -->
  <div class="col-md-6">
    <!-- Card Header -->
    <card-header class=" mb-3" card-title="Overview"></card-header>
    <!-- /card header -->

    <card-body class="pb-0 pb-sm-8">
      <div class="embed-responsive embed-responsive-21by9">
        <amCharts class="embed-responsive-item"
                  [options]="trackingMap"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>
    </card-body>
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-md-3 col-sm-6">
    <card-body class="pl-md-0 pr-sm-0">
      <ul class="dt-indicator mt-xl-6">
        <li class="dt-indicator-item" *ngFor="let row of statusReports">
          <p class="dt-indicator-title">{{row.label}}</p>

          <gx-status-bar showPercent
                         [fillVal]="row.progressBar.fillVal"
                         [maxVal]="row.progressBar.maxVal"
                         [textColor]="row.progressBar.textColor"
                         [barPosition]="row.progressBar.barPosition"
                         [barColor]="row.progressBar.barColor"></gx-status-bar>

        </li>
      </ul>
    </card-body>
  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-md-3 col-sm-6">
    <div class="dt-zone-stats">
      <div class="dt-zone-stats__content">
        <div class="h1 display-4 font-weight-600 mb-1">{{stats.revenue}}</div>
        <span>{{stats.revenueTitle}}</span>
      </div>
      <div class="dt-zone-stats__content">
        <div class="row w-100">
          <div class="col-6 text-center border-right">
            <div class="h1 mb-1 font-weight-500">{{stats.clients}}</div>
            <span>{{stats.clientsTitle}}</span>
          </div>
          <div class="col-6 text-center">
            <div class="h1 mb-1 font-weight-500">{{stats.countries}}</div>
            <span>{{stats.countriesTitle}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /grid item -->
</div>
<!-- /grid -->
