<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">Am Charts</h1>
</div>
<!-- /page header -->

<!-- Grid -->
<div class="row">

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card [card-title]="charts.pieChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="pieChart" class="embed-responsive-item"
                  [options]="charts.pieChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /Grid Item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card [card-title]="charts.animatedPieChart.title">

      <div class="embed-responsive embed-responsive-21by9">

        <amCharts id="animatedPieChart"
                  class="embed-responsive-item"
                  [options]="charts.animatedPieChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>

      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /Grid Item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card [card-title]="charts.dddPieChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="dddPieChart" class="embed-responsive-item"
                  [options]="charts.dddPieChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /Grid Item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card [card-title]="charts.donutChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="donutChart" class="embed-responsive-item"
                  [options]="charts.donutChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /Grid Item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card [card-title]="charts.gaugeChart.title">

      <div class="embed-responsive embed-responsive-21by9">

        <amCharts id="gaugeChart"
                  class="embed-responsive-item"
                  [options]="charts.gaugeChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>

      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /Grid Item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card [card-title]="charts.stackedClusteredChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="stackedClusteredChart" class="embed-responsive-item"
                  [options]="charts.stackedClusteredChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /Grid Item -->

  <!-- Grid Item -->
  <div class="col-12">

    <!-- Card -->
    <gx-card [card-title]="charts.barChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="barChart" class="embed-responsive-item"
                  [options]="charts.barChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card [card-title]="charts.dddCylinderChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="dddCylinderChart" class="embed-responsive-item"
                  [options]="charts.dddCylinderChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card [card-title]="charts.dddColumnChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="dddColumnChart" class="embed-responsive-item"
                  [options]="charts.dddColumnChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card [card-title]="charts.dddStackedChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="dddStackedChart" class="embed-responsive-item"
                  [options]="charts.dddStackedChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

    <!-- Card -->
    <gx-card [card-title]="charts.lineChart.title">

      <div class="embed-responsive embed-responsive-21by9">
        <amCharts id="lineChart" class="embed-responsive-item"
                  [options]="charts.lineChart.options"
                  [style.width.%]="100"
                  [style.height.%]="100"></amCharts>
      </div>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->
