<!-- Page Header -->
<div class="dt-page__header">
  <h1 class="dt-page__title">Sweet Alert</h1>
</div>
<!-- /page header -->

<!-- Entry Header -->
<div class="dt-entry__header">
  <h3 class="dt-entry__title">Popup Types</h3>
</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row">

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card card-title="Toast Types">

      <swal #toastTypeSuccess
            title="Success!"
            html="You clicked the button!"
            type="success"
            position="top-end"
            timer="3000"
            [showConfirmButton]="false"
            [toast]="true">
      </swal>

      <swal #toastTypeError
            title="Error!"
            html="You clicked the button!"
            type="error"
            position="top-end"
            timer="3000"
            [showConfirmButton]="false"
            [toast]="true">
      </swal>

      <swal #toastTypeWarning
            title="Warning!"
            html="You clicked the button!"
            type="warning"
            position="top-end"
            timer="3000"
            [showConfirmButton]="false"
            [toast]="true">
      </swal>

      <swal #toastTypeInfo
            title="Information!"
            html="You clicked the button!"
            type="info"
            position="top-end"
            timer="3000"
            [showConfirmButton]="false"
            [toast]="true">
      </swal>

      <swal #toastTypeQuestion
            title="Question!"
            html="You clicked the button!"
            type="question"
            position="top-end"
            timer="3000"
            [showConfirmButton]="false"
            [toast]="true">
      </swal>

      <button class="btn btn-outline-success mr-2 mb-2" (click)="toastTypeSuccess.fire()">Success</button>
      <button class="btn btn-outline-danger mr-2 mb-2" (click)="toastTypeError.fire()">Error</button>
      <button class="btn btn-outline-warning mr-2 mb-2" (click)="toastTypeWarning.fire()">Warning</button>
      <button class="btn btn-outline-info mr-2 mb-2" (click)="toastTypeInfo.fire()">Information</button>
      <button class="btn btn-outline-primary mb-2" (click)="toastTypeQuestion.fire()">Question</button>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-6">

    <!-- Card -->
    <gx-card card-title="Alert Types">

      <button class="btn btn-outline-success mr-2 mb-2"
              [swal]="['Success', 'You clicked the button!', 'success']">
        Success
      </button>

      <button class="btn btn-outline-danger mr-2 mb-2"
              [swal]="['Error', 'You clicked the button!', 'error']">
        Error
      </button>

      <button class="btn btn-outline-warning mr-2 mb-2"
              [swal]="['Warning', 'You clicked the button!', 'warning']">
        Warning
      </button>

      <button class="btn btn-outline-info mr-2 mb-2"
              [swal]="['Information', 'You clicked the button!', 'info']">
        Information
      </button>

      <button class="btn btn-outline-primary mb-2"
              [swal]="['Question', 'You clicked the button!', 'question']">
        Question
      </button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

</div>
<!-- /Grid -->

<!-- Entry Header -->
<div class="dt-entry__header">
  <h3 class="dt-entry__title">Alets Examples</h3>
</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row">

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">A basic message</p>
      <button class="btn btn-outline-primary" [swal]="[ 'You clicked the button!']">Click Me
      </button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Title with text</p>
      <button class="btn btn-outline-primary"
              [swal]="[ 'Good job!' , 'Contrary to popular belief, Lorem Ipsum is not simply random text.']">Click Me
      </button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Show succcess message</p>
      <button class="btn btn-outline-primary"
              [swal]="[ 'Success' , 'Contrary to popular belief, Lorem Ipsum is not simply random text.', 'success']">
        Click Me
      </button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Show error message and footer</p>
      <button class="btn btn-outline-primary"
              [swal]="{title: 'Oops!', text: 'This is not implemented yet :/', type: 'error', footer: '<a href=https://sweetalert2.github.io/>Why do I have this issue?</a>'}">
        Click Me
      </button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Image with message</p>
      <button class="btn btn-outline-primary"
              [swal]="{title: 'Breakfast' , text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas cupiditate non provident.', imageUrl: 'https://via.placeholder.com/640x420', imageAlt: 'Coffee'}">
        Click Me
      </button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Custom HTML message</p>
      <button class="btn btn-outline-primary" [swal]="customHtml">Click Me</button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Custom Position</p>
      <button class="btn btn-outline-primary" [swal]="customPosition">Click Me</button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Auto close timer</p>
      <swal #autoCloseSwal
            title="Auto close alert!"
            [html]="'I will close automatically in ' + secondsLeft + ' milliseconds.'"
            timer="2000"
            (open)="openAutoClose($event)"
            (close)="closeAutoClose($event)">
      </swal>

      <button class="btn btn-outline-primary" (click)="autoCloseSwal.fire()">Click Me</button>

    </gx-card>
    <!-- /Card -->

  </div>
  <!-- /grid item -->

  <!-- Grid Item -->
  <div class="col-xl-4">

    <!-- Card -->
    <gx-card body-class="text-center">

      <p class="lead">Advanced Alert</p>
      <swal
        #deleteSwal
        title="Are you sure?"
        text="Buttons below are styled with Bootstrap classes"
        type="warning"
        confirmButtonClass="btn btn-success ml-1"
        cancelButtonClass="btn btn-danger mr-1"
        confirmButtonText="Yes, delete it!"
        cancelButtonText="No, cancel!"
        [buttonsStyling]="false"
        [showCancelButton]="true"
        [focusCancel]="true"
        [reverseButtons]="true"
        (confirm)="deleteConfirm()"
        (cancel)="deleteCancel()">
      </swal>

      <button class="btn btn-outline-primary" (click)="deleteSwal.fire()">Click Me</button>

      <swal
        #deleteConfirmSwal
        title="Deleted!"
        text="Your file has been deleted."
        type="success"
        timer="2000">
      </swal>

      <swal
        #deleteCancelSwal
        title="Cancelled!"
        text="Your imaginary file is safe :)"
        type="error"
        timer="2000">
      </swal>

    </gx-card>
    <!-- /card -->

  </div>
  <!-- /grid item -->

</div>
<!-- /Grid -->
