<!-- Card Body -->
<bs-card-body class="py-4 px-5">
  <!-- Grid -->
  <div class="row no-gutters align-items-center">
    <!-- Grid Item -->
    <div class="col-8 pr-2">
      <div class="d-flex align-items-center">
        <h4 class="mb-0 mr-1" [ngClass]="widget.data.trending.color">{{widget.data.trending.value}}</h4>
        <gx-icon name="pointer-up" class="mr-3" [ngClass]="widget.data.trending.color"></gx-icon>
      </div>
      <p class="mb-0 f-12">{{widget.data.tagline.text}}</p>
    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-4 text-right">
      <!-- Chart Body -->
      <circle-progress class="size-55"
                       [percent]="52"
                       [radius]="70"
                       [innerStrokeWidth]="30"
                       [outerStrokeWidth]="30"
                       [outerStrokeColor]="'#52c41a'"
                       [innerStrokeColor]="'#e7e8ea'"
                       [animation]="true"
                       [animationDuration]="300"
                       [showTitle]="false"
                       [showSubtitle]="false"
                       [showUnits]="false"
                       space="-30"></circle-progress>
      <!-- /chart body -->
    </div>
    <!-- /grid item -->
  </div>
  <!-- /grid -->
</bs-card-body>
<!-- /card body -->



