<!-- Custom Container -->
<div class="dt-container">

  <!-- Topbar Inner -->
  <div class="dt-topbar__inner">
    <div class="d-flex align-items-center text-truncate mr-2">
      <gx-icon name="megaphone" [fw]="true" size="xl" class="mr-3"></gx-icon>
      <span class="text-truncate">A new version is going to release on 21st July. Stay tuned!</span>
    </div>

    <ul class="dt-list dt-list-xl dt-list-bordered text-uppercase">
      <li class="dt-list__item">
        <a href="javascript:void(0)" class="dt-list__link">Login</a>
      </li>
      <li class="dt-list__item">
        <a href="javascript:void(0)" class="dt-list__link">Sign up</a>
      </li>
    </ul>
  </div>
  <!-- /topbar inner -->

</div>
<!-- /custom container -->
