<!--
<div class="page-container fullwidth">
  <div class="page-row">
    <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="20px">
      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title>Line Chart</mat-card-title>
        </mat-card-header>

        <mat-card-content style="min-height: 200px;">
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title>Area Chart</mat-card-title>
        </mat-card-header>

        <mat-card-content style="min-height: 200px;">
          <ngx-charts-bar-vertical-2d
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical-2d>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
-->
