<app-page-header pageTitle="Data Tables"></app-page-header>

<!-- Grid -->
<div class="row">

  <!-- Grid Item -->
  <div class="col-xl-12">
    <app-entry-header heading="Sortable table"></app-entry-header>

    <gx-card>
      <!-- Tables -->
      <div class="table-responsive">
        <app-table-sortable></app-table-sortable>
      </div>
      <!-- /tables -->

    </gx-card>

    <app-entry-header heading="Search and filtering"></app-entry-header>

    <gx-card>
      <!-- Tables -->
      <div class="table-responsive">
        <app-table-filtering></app-table-filtering>
      </div>
      <!-- /tables -->

    </gx-card>

    <app-entry-header heading="Pagination"></app-entry-header>

    <gx-card>
      <!-- Tables -->
      <div class="table-responsive">
        <app-table-pagination></app-table-pagination>
      </div>
      <!-- /tables -->

    </gx-card>

    <app-entry-header heading="Complete example"></app-entry-header>

    <gx-card>
      <!-- Tables -->
      <div class="table-responsive">
        <app-table-complete></app-table-complete>
      </div>
      <!-- /tables -->

    </gx-card>

  </div>
  <!-- /grid item -->

</div>
<!-- /grid -->
