<!-- Module Drawer Inner -->
<div class="dt-module__drawer-inner">

  <div class="dt-module__drawer-header">
    <a href="javascript:void(0)" class="d-inline-block" (click)="closeDrawer($event)">
      <gx-icon name="arrow-long-left" size="2x" class="mr-3"></gx-icon>
      <span class="align-middle">Back</span>
    </a>
  </div>

  <!-- Actionable Drawer -->
  <div class="dt-actionable-drawer">

    <!-- Menu Bar -->
    <div class="dt-action-bar">

      <!-- Action Menu -->
      <ul class="dt-action-nav">

        <!-- Menu Item -->
        <li class="dt-action-nav__item" [ngClass]="{'active':activeMenu == 'notifications'}">
          <a href="javascript:void(0)"
             class="dt-action-nav__link"
             (click)="onSelectMenu($event, 'notifications')">
            <gx-icon name="notification2" [fw]="true"></gx-icon>
          </a>
        </li>
        <!-- /menu item -->

        <!-- Menu Item -->
        <li class="dt-action-nav__item" [ngClass]="{'active':activeMenu == 'search'}">
          <a href="javascript:void(0)"
             class="dt-action-nav__link"
             (click)="onSelectMenu($event, 'search')">
            <gx-icon name="search" [fw]="true"></gx-icon>
          </a>
        </li>
        <!-- /menu item -->

        <!-- Menu Item -->
        <li class="dt-action-nav__item" ngbDropdown>
          <!-- Dropdown Button -->
          <a href="javascript:void(0)" class="dt-action-nav__link no-arrow" ngbDropdownToggle>
            <gx-icon name="circle-add-o"></gx-icon>
          </a>
          <!-- /dropdown button -->

          <!-- Dropdown Menu -->
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">Add New Group</a>
            <a class="dropdown-item" href="javascript:void(0)">Add New Chat</a>
            <a class="dropdown-item" href="javascript:void(0)">Add New Contact</a>
          </div>
          <!-- /dropdown menu -->
        </li>
        <!-- /menu item -->

      </ul>
      <!-- /action menu -->

    </div>
    <!-- /menu bar -->

    <!-- Drawer Content Area -->
    <div class="dt-action-content-wrapper">

      <gx-loader [ngClass]="{'active':showLoader}"></gx-loader>
      <div class="dt-action-content fade position-relative" [ngClass]="{'show':!showLoader && activeMenu == 'search'}" perfectScrollbar>
        <todo-search></todo-search>
      </div>
      <div class="dt-action-content fade position-relative" [ngClass]="{'show':!showLoader && activeMenu == 'notifications'}" perfectScrollbar>
        <todo-notifications></todo-notifications>
      </div>

    </div>
    <!-- /drawer content area -->

  </div>
  <!-- /actionable drawer -->

</div>
<!-- /module drawer inner -->
